:root {
    --bg: #2D2E2E;
    --dark: #0F0F0F;
    --btn-blue: #46B1C9;
    --accent: #23CE6B;
    --text-white: #FBFBFB;
  }

.login {
    /* width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid var(--dark);
    padding: 20px; */

    margin-top: 120px;
    max-width: 600px;
    display: flex;
    height: 350px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.input-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-header, h4{
    margin: 10px 0;
    text-align: center;
}

.login-form {
    width: 80%;
}

.text-container {
    color: #17a2b8!important;
}

.login-input{
    /* height: 40px;
    margin-bottom: 10px;
    background-color: var(--text-white);
    width: 100%;
    border-radius: 10px;
    padding: 8px;
    padding-left: 15px;
    border: solid 2px var(--dark);
    font-size: 1.2rem; */

    display: block;
    width: 90%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

::placeholder{
    color: var(--dark);
}

.login-input:focus{
    outline-width: 0;
}

.login-button {
    background: var(--btn-blue);
    width: 50%;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    padding: auto;
    border-radius: 10px;
    border: none;
    color: #fff;
}

.login-button:hover{
    cursor: pointer;
    background: var(--accent);
    transition: .3s;
}